*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;

}

.navbar{
    height: 80px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 70px;
    width: 130px;


}
.logo{
    background-image: url("amazon_logo.png");
    height: 70px;
    width: 100%;
    background-size: cover;
}
.add-icon{
    display: flex;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.add-first{
    color: #cccccc;
    margin-left: 13px;
}
.add-second{
    margin-left:3px;
}
.nav-serch{
    display: flex;
    height: 50px;
    width: 760px;
    border-radius: 5px;
    color: #0f1111;
    justify-content: center;
}
.nav-serch:hover{
    border: 2px solid orange;
}
.item-select{
    width: 80px;
    border-radius: 5px;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.Searchbar{
    width: 650px;
    font-size: 1em;
}
.Search-icon{
    width: 45px;
    background-color: #FEBD69;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.lang{
    display: flex;
    height: 30px;
    width: 60px;
    justify-content: center;
}
.lang-text{
    font-weight: 700;
}
.lang i{
    font-size: 1.6rem;
}
.p1{
    font-size: 15px;
}
.p2{
    font-weight: 700;
}
.nav-cart{
    display:flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;

}
.nav-cart i{
    font-size: 1.6rem;
}
.nav-cart p{
    font-weight:700 ;
}
.panel{
    height: 40px;
    background-color: #232F3E;
    display:flex;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    display:flex;
}
.panel-all p{
    font-weight :700 ;
    margin-left: 5px;
}
.panel-items p{
    display: inline;
    margin: 10px;
}
.panel-items{
    width: 90%;
}
.hero-img{
    height: 400px;
    width: 98%;
    background-image: url(backgroung.jpg);
    margin-left: 15px;
    background-size: cover;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #E3E6E6;
    flex-wrap: wrap;
    
    
}
.box{
    height: 380px;
    width: 23%;
    padding :20px 0px 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
 
    
}
.box-img{
    background-size: cover;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    height: 300px;
}
.box a{
    text-decoration: none;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.box h2{
    margin-left: 15px;
}

.box2{
    background-size:20px;
    background-size: none;
}
.singin{
    height: 50px;
    width: 100%;
    padding: 50px;
    text-align: center;
    background-color: white;
}
.singin button{
    margin-top: 10px;
    height: 35px;
    width: 300px;
    border-radius: 20px;
    background-color: #FFD814;
}
.singin p{
    margin-top: 3px;
    font-size: 13px;
}
.back{
    height: 50px;
    width: 1519px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#485769;
}
.back a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 13px;
}
.end-sec{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #232F3E;
}
.bx{
    height: 200px;
    width: 200px;
    /* border: 2px solid black; */
    color: white;
}
ul p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
}
.bx a{
    color: white;
    text-decoration: none;
    margin-top: 10px;

}

ul a{
    display: block;
    font-size: 0.85rem;
}
.end-legal{
    border-top: 0.02px solid;
    background-color: #131A22;
    color: white;
    text-align: center;
}
.end-legal a{
    font-size: 0.7rem;
    margin-left: 3px;
}
.end-legal p{
    font-size: 0.7rem;
    margin-top: 3px;
}